@model RoleViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center align-items-center flex-column">

    <h1 class="text-center">Update @Model.RoleName Role</h1>

    <form asp-action="Edit" class="col-6 mb-5 mt-3 border border-light bg-light p-5" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group mb-3">
            <label class="col-form-label" asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="col-form-label" asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>

       <div class="row justify-content-between">
            <div class="ms-auto my-3">
                <a asp-action="ManageUsers" asp-route-roleId="@Model.Id" class="btn btn-outline-info"> Manage Users </a>
            </div>
            <div class="mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Back To List</a>
            </div>
       </div>
    </form>

</div>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}